Project is inspired by [Analytics Vidhya](https://www.analyticsvidhya.com/blog/2021/09/data-analysis-and-price-prediction-of-electric-vehicles/) and is an update on this [Kaggle dataset](https://www.kaggle.com/datasets/kkhandekar/cheapest-electric-cars)

## Introduction

List of all BEV from EDBV meeting following criteria:

>The following criteria apply for vehicles to be included in EV Database. The vehicle must be:
> - A Battery Electric Vehicle (BEV)
> - Homologated as a passenger vehicle (European Vehicle Category M1)
> - Available in Germany and/or The Netherlands and/or United Kingdom
> - Available through a fully licensed distributor, importer or the manufacturer directly
> - Mass-produced: intention to produce at least 500 mechanically identical vehicles for the European market

The following dataset was last updated 27/02/2023

## Import

In [1]:
import numpy as np
import regex as re
import pandas as pd
import selenium

from selenium import webdriver

from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
option = webdriver.ChromeOptions()

option.add_argument('--disable-dev-shm-usage')
option.add_experimental_option("detach", True)

# enable browser logging
d = DesiredCapabilities.CHROME
d['goog:loggingPrefs'] = { 'browser':'ALL' }


browser = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
wait = WebDriverWait(browser, timeout=10, poll_frequency=1)

url = 'https://ev-database.org/#sort:path~type~order=.rank~number~desc|range-slider-range:prev~next=0~1200|range-slider-acceleration:prev~next=2~23|range-slider-topspeed:prev~next=110~350|range-slider-battery:prev~next=10~200|range-slider-towweight:prev~next=0~2500|range-slider-fastcharge:prev~next=0~1500|paging:currentPage=0|paging:number=all'
browser.get(url)
browser.maximize_window()

In [13]:
def clickXP(string):
    '''
    Description:
    Returns element after it becomes clickable
    '''
    element = wait.until(EC.presence_of_element_located((By.XPATH, string)))
    return element    

def selectXP(string):
    '''
    Description:
    Returns element after its presence is located
    '''

    # element = browser.find_element(By.XPATH,string)
    element = wait.until(EC.presence_of_element_located((By.XPATH, string)))
    return element

In [19]:
#accept cookies
clickXP('//*[@id="evdb"]/div[2]/div[2]/div[1]/div[2]/div[2]/button[1]/p').click()

KeyboardInterrupt:

In [20]:
#retrieve information container
full_list = selectXP('//*[@id="evdb"]/main/div[2]/div[3]')
data_wrapper = full_list.find_elements(By.CLASS_NAME,'data-wrapper')

In [94]:
def findXPATH(element,xpath):
    return element.find_element(By.XPATH,xpath)

def findCLASS(element,class_name):
    return element.find_element(By.CLASS_NAME,class_name)

#list of dicts with information fields of each vehicle
ev_list = []

#retrieve relevant information for each vehicle and store in dict
for item in data_wrapper:
    ev_dict = {}
    title_wrap = findCLASS(item,'title-wrap')
    icons = findCLASS(item,'icons')
    specs = findCLASS(item,'specs')
    pricing = findCLASS(item,'pricing')

    #car name, kwh, and release date of vehicle
    title_split = title_wrap.text.split('\n')
    #first word of car name is manufacturer
    ev_dict['manufacturer'] = re.match('\w+',title_split[0]).group() 
    #everything after first word is model name
    try:
        ev_dict['model'] = re.search('\s[\S\s]+',title_split[0]).group().strip()
    except:
        print(title_split[0])
    ev_dict['kwh'] = title_split[1]
    ev_dict['release'] = title_split[2]

    try: #not all cars have towing
        ev_dict['towweight'] = findCLASS(icons,'towweight').text
        ev_dict['drive'] = findXPATH(icons,'./span[4]').get_property('title')
        ev_dict['plug'] = findXPATH(icons,'./span[5]').get_attribute('textContent') #hidden element
        ev_dict['body'] = findXPATH(icons,'./span[6]').get_attribute('textContent')
        ev_dict['market_segment'] = findXPATH(icons,'./span[7]').text
        ev_dict['seats'] = findXPATH(icons,'./span[9]').text
    except: #if no towweight, span nums change
        ev_dict['towweight'] = 0
        ev_dict['drive'] = findXPATH(icons,'./span[2]').get_property('title')
        ev_dict['plug'] = findXPATH(icons,'./span[3]').get_attribute('textContent') #hidden element
        ev_dict['body'] = findXPATH(icons,'./span[4]').get_attribute('textContent')
        ev_dict['market_segment'] = findXPATH(icons,'./span[5]').text
        ev_dict['seats'] = findXPATH(icons,'./span[7]').text


    ev_dict['acceleration'] = findCLASS(specs,'acceleration').text
    ev_dict['max_speed'] = findCLASS(specs,'topspeed').text
    ev_dict['real_range'] =  findCLASS(specs,'erange_real').text
    ev_dict['efficiency'] =  findCLASS(specs,'efficiency').text
    ev_dict['fastcharge'] =  findXPATH(specs,'./p[5]/span[3]').get_attribute('textContent')

    pricing_split = pricing.text.split('\n')
    ev_dict['price_germany'] = pricing_split[0]
    ev_dict['price_ned'] = pricing_split[1]
    ev_dict['price_uk'] = pricing_split[2]
    
    ev_list.append(ev_dict)

In [264]:
ev_data = pd.DataFrame(data=ev_list,columns=list(ev_dict.keys()))

In [223]:
ev_data.head()

,manufacturer,model,kwh,release,towweight,drive,plug,body,market_segment,seats,acceleration,max_speed,real_range,efficiency,fastcharge,price_germany,price_ned,price_uk
0,Tesla,Model Y Long Range Dual Motor,75 kWh useable battery*,Available since February 2022,1600,All Wheel Drive,Type 2 CCS,SUV,D,5,5.0 sec,217 km/h,435 km,172 Wh/km,670,"€59,017","€54,993","£52,990"
1,Tesla,Model Y,57.5 kWh useable battery*,Available since November 2022,1600,Rear Wheel Drive,Type 2 CCS,SUV,D,5,6.9 sec,217 km/h,345 km,167 Wh/km,580,"€47,567","€47,993","£44,990"
2,Tesla,Model 3,57.5 kWh useable battery*,Available since December 2021,1000,Rear Wheel Drive,Type 2 CCS,Sedan,D,5,6.1 sec,225 km/h,380 km,151 Wh/km,630,"€46,667","€45,993","£42,990"
3,Tesla,Model 3 Long Range Dual Motor,75 kWh useable battery*,Available since November 2021,1000,All Wheel Drive,Type 2 CCS,Sedan,D,5,4.4 sec,233 km/h,485 km,155 Wh/km,750,"€56,667","€53,993","£50,990"
4,BYD,ATTO 3,60 kWh useable battery*,Available since August 2022,0,Front Wheel Drive,Type 2 CCS,SUV,C,5,7.3 sec,160 km/h,320 km,188 Wh/km,300,"€44,625","€42,998",N/A

The following information is retrieved:
- `manufacturer`: manufacturer name e.g. BYD
- `model`: model name e.g. ATTO 3
- `kwh`: useable battery in kWh
- `released`: whether EV has been released or not
- `

## Data Cleaning

In [224]:
ev_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manufacturer    297 non-null    object
 1   model           297 non-null    object
 2   kwh             297 non-null    object
 3   release         297 non-null    object
 4   towweight       297 non-null    object
 5   drive           297 non-null    object
 6   plug            297 non-null    object
 7   body            297 non-null    object
 8   market_segment  297 non-null    object
 9   seats           297 non-null    object
 10  acceleration    297 non-null    object
 11  max_speed       297 non-null    object
 12  real_range      297 non-null    object
 13  efficiency      297 non-null    object
 14  fastcharge      297 non-null    object
 15  price_germany   297 non-null    object
 16  price_ned       297 non-null    object
 17  price_uk        297 non-null    object
dtypes: object(18)
memory usage: 41.9+ KB

### Re-checking for nulls

In [265]:
for col in ev_data.columns:
    ev_data[col] = ev_data[col].apply(lambda x: np.nan if x=='' else x)

In [266]:
for col in ev_data.columns:
    total_null = sum(ev_data[col].isnull())
    if total_null>0:
        print('Column',col,'has',total_null,'null values')

Column towweight has 2 null values
Column market_segment has 1 null values
Column fastcharge has 3 null values

### Release Date -- Cleaning/Transforming

To start, we want to transform 'release' column into:
 - 'released': Whether the car has been released or not
 - 'release_month': What month the car was/will be released
 - 'release_year': What year the car was/will be released

275 cars released, 22 yet to be released:

In [267]:
print('Released:', sum(ev_data['release'].str.contains('since')), '\nYet to be released:', sum(ev_data['release'].str.contains('from')))

Released: 275
Yet to be released: 22

In [268]:
def getMonth(string):
    '''
    Description:
    For specific release string, retrieves the month that the car is released/to be released
    
    Parameters:
     - str - str type object
     
    Returns:
    str
    
    Example:
    >>> input:  yearDelay('Available since February 2022')
    >>> output: February
    '''
    #regex matches everything after second word 
        # (?<=A)  everything after A
        # \w+\s\w+\s 2 sets of alphanumerics followed by space
    return re.search('(?<=(\w+\s\w+\s))\S+',string).group()

In [269]:
ev_data['released'] = ev_data['release'].apply(lambda x: 1 if 'since' in x else 0)
ev_data['release_month'] = ev_data['release'].apply(getMonth)
ev_data['release_year'] = ev_data['release'].apply(lambda x: x[-4:])

In [270]:
ev_data[['release','released','release_month','release_year']].head()

                         release  released release_month release_year
0  Available since February 2022         1      February         2022
1  Available since November 2022         1      November         2022
2  Available since December 2021         1      December         2021
3  Available since November 2021         1      November         2021
4    Available since August 2022         1        August         2022

### Cleaning Numerical Columns

All the following numerical columns contain text that we want removed

In [271]:
print(sum(ev_data.kwh.str.contains('useable battery*')),
      sum(ev_data.acceleration.str.contains('sec')),
      sum(ev_data.max_speed.str.contains('km.h')),
      sum(ev_data.real_range.str.contains('km')),
      sum(ev_data.efficiency.str.contains('Wh/km')))

297 297 297 297 297

In [272]:
num_cols = ['kwh','acceleration','max_speed','real_range','efficiency']

In [273]:
for col in num_cols:
    #all these follow format of [num] [measure], so we
    ev_data[col] = ev_data[col].apply(lambda x: re.match('\S+',x).group())

In [274]:
ev_data[num_cols].head()

    kwh acceleration max_speed real_range efficiency
0    75          5.0       217        435        172
1  57.5          6.9       217        345        167
2  57.5          6.1       225        380        151
3    75          4.4       233        485        155
4    60          7.3       160        320        188

### Cleaning Price

In [275]:
price_cols = ['price_germany','price_ned','price_uk']

for price in price_cols:
    ev_data[price] = ev_data[price].apply(lambda x: getPrice(x) if x!='N/A' else np.nan)

In [276]:
ev_data[price_cols].head()

  price_germany price_ned price_uk
0         59017     54993    52990
1         47567     47993    44990
2         46667     45993    42990
3         56667     53993    50990
4         44625     42998      NaN

In [277]:
ev_data[price_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price_germany  272 non-null    object
 1   price_ned      265 non-null    object
 2   price_uk       187 non-null    object
dtypes: object(3)
memory usage: 7.1+ KB

### Final Touches

In [278]:
string_col = ['model']
categ_cols = ['manufacturer','released','release_month','release_year','drive','body','seats','market_segment','plug']
num_cols = ['towweight','kwh','acceleration','max_speed','real_range','efficiency','fastcharge']
price_cols = ['price_germany','price_ned','price_uk']

#reorder columns
col_order = string_col+categ_cols+num_cols+price_cols
ev_data = ev_data[col_order]
ev_data.head()

,model,manufacturer,released,release_month,release_year,drive,body,seats,market_segment,plug,towweight,kwh,acceleration,max_speed,real_range,efficiency,fastcharge,price_germany,price_ned,price_uk
0,Model Y Long Range Dual Motor,Tesla,1,February,2022,All Wheel Drive,SUV,5,D,Type 2 CCS,1600,75,5.0,217,435,172,670,59017,54993,52990
1,Model Y,Tesla,1,November,2022,Rear Wheel Drive,SUV,5,D,Type 2 CCS,1600,57.5,6.9,217,345,167,580,47567,47993,44990
2,Model 3,Tesla,1,December,2021,Rear Wheel Drive,Sedan,5,D,Type 2 CCS,1000,57.5,6.1,225,380,151,630,46667,45993,42990
3,Model 3 Long Range Dual Motor,Tesla,1,November,2021,All Wheel Drive,Sedan,5,D,Type 2 CCS,1000,75,4.4,233,485,155,750,56667,53993,50990
4,ATTO 3,BYD,1,August,2022,Front Wheel Drive,SUV,5,C,Type 2 CCS,0,60,7.3,160,320,188,300,44625,42998,NaN

In [295]:
ev_data[categ_cols] = ev_data[categ_cols].astype('category')
ev_data[num_cols+price_cols] = ev_data[num_cols+price_cols].astype('float')

In [297]:
ev_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   model           297 non-null    object
 1   manufacturer    297 non-null    category
 2   released        297 non-null    category
 3   release_month   297 non-null    category
 4   release_year    297 non-null    category
 5   drive           297 non-null    category
 6   body            297 non-null    category
 7   seats           297 non-null    category
 8   market_segment  296 non-null    category
 9   plug            297 non-null    category
 10  towweight       295 non-null    float64
 11  kwh             297 non-null    float64
 12  acceleration    297 non-null    float64
 13  max_speed       297 non-null    float64
 14  real_range      297 non-null    float64
 15  efficiency      297 non-null    float64
 16  fastcharge      294 non-null    float64
 17  price_germany   272 non-null    float64
 18  price_ned       265 non-null    float64
 19  price_uk        187 non-null    float64
dtypes: category(9), float64(10), object(1)
memory usage: 31.9+ KB

In [298]:
ev_data.to_csv('../data/ev_data.csv',index=False)